#makeOrderBtn {
  padding: 10px;
  background: white;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

#emptyCartBtn {
  padding: 10px;
  background: rgba(190, 65, 65, 0.791);
  color: rgb(216, 209, 209);
  font-size: 1.2rem;
  cursor: pointer;
}
