.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 0 auto;
  width: 500px;
  font-size: 30px;
}

.container > * {
  padding: 10px;
}

button {
  cursor: pointer;
  width: 100px;
}

.listadoProductos {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  font-size: 30px;
}

.introListado {
  display: flex;
  align-items: center;
}
.introListado h1 {
  margin: 10px;
}

.introListado a {
  font-size: 30px;
}

/* getAll table container */

table {
  width: 100%;
  padding: 60px;
}
td {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
}

th {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 2rem;
}

.image {
  width: 50px;
}

#listadoProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: center;
  margin-top: 50px;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.producto h3 {
  padding: 5px;
}
