doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/style.css")
        
        title Document
    body
        form(action="/api/productos" method="post")
            .container 
                label(for="title") Title
                input(id="title" type="text" name="title" placeholder="title") 
                label(for="price") Price
                input(id="price" type="text" name="price" placeholder="price") 
                label(for="thumbnail") Thumbnail
                input(id="thumbnail" type="text" name="thumbnail" placeholder="url") 
                button(id="postProductoBtn") Enviar
        #listadoProductos

        form(id="chatBox" onsubmit="return enviarMensaje(this)") 
            h1 chat
            label(for="email") Email 
            input(type="email" id="email" name="email" placeholder="email" required)
            label(for="mensaje") Mensaje 
            input(name="mensaje" id="mensaje")
            button(type="submit") Enviar
        #chatLog

    script(src="/socket.io/socket.io.js")
    script(src="./js/main.js")


