<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Backend | Lucas Pirito</title>
  </head>
  <body>
    <button type="submit" id="renderMock">Generate product mock</button>

    <div id="mockList">
    </div>

    <hr />

    <div>
      <h1>Compresion de chat:</h1>
      <h2 id="compressionRate"></h2>
    </div>
    <form id="chatBox" onsubmit="return sendMessage(this)">
      <h1>chat</h1>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="email" required />
      <label for="mensaje">Mensaje</label>
      <input type="text" name="mensaje" id="mensaje" placeholder="mensaje" />
      <label for="mensaje">Nombre:</label>
      <input type="text" name="name" id="name" placeholder="Nombre" />
      <label for="mensaje">Edad:</label>
      <input type="number" name="age" id="age" placeholder="Edad" />
      <label for="mensaje">Alias:</label>
      <input type="text" name="alias" id="alias" placeholder="Alias" />

      <button type="submit">Enviar</button>
    </form>
    <div id="chatLog"></div>

    <script
      src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/sendProduct.js"></script>
    <script src="/js/sendMessage.js"></script>

  </body>
</html>