<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Backend | Lucas Pirito</title>
  </head>
  <body>

    <div>
      <h1 id="mensaje"></h1>
    </div>
    <h1>Login de usuario</h1>
    <form action="/login">
      <label for="nombreUsuario">Ingrese su nombre</label>
      <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="nombre" required />
      <button type="submit">Logear</button>
    </form>

    <form action="/logout">
      <button type="submit">Deslogear</button>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/sendProduct.js"></script>
    <script src="/js/sendMessage.js"></script>

  </body>
</html>