<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="stylesheet" href="./styles/register.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
  <title>Registrarse | Backend</title>
</head>

<body>
  <h1>Registro de usuario</h1>
  <form action="/register" method="POST" enctype="multipart/form-data">
    <label for="image">Foto de perfil</label>
    <input type="file" name="image" id="image" required>
    <br />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Email" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Contraseña" required />
    <br />
    <label for="address">Direccion:</label>
    <input type="text" id="address" name="address" placeholder="Direccion" />
    <br />
    <label for="age">Edad:</label>
    <input type="number" id="age" name="age" placeholder="Edad" />
    <br>
    <label for="phone">Numero de telefono</label>
    <input id="phone" type="tel" name="phone" required />
    <br>
    <input id="registerButton" type="submit" value="Registrarse" />
    <small id="telephoneRequired">El numero de telefono debe ser valido para registrarse</small>
  </form>
  <div class="alert alert-info" style="display: none"></div>
  <div class="alert alert-error" style="display: none"></div>
  <a href="/login">Logearse</a>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<script>
  const registerButton = document.querySelector("#registerButton")
  registerButton.disabled = true
  const phoneInputField = document.querySelector("#phone");
  const phoneInput = window.intlTelInput(phoneInputField, {
    preferredCountries: ['ar', 'uy', 'co', 've'],
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
  });
  const info = document.querySelector(".alert-info");
  const error = document.querySelector(".alert-error");
  const phoneNumber = phoneInput.getNumber();

  const phoneForm = document.querySelector("#phone")
  const telephoneRequired = document.querySelector("#telephoneRequired")
  phoneForm.addEventListener('change', () => {
    const phoneNumber = phoneInput.getNumber();

    if (phoneInput.isValidNumber()) {
      error.innerHTML = "";
      info.style.display = "";
      info.innerHTML = `Numero en formato E.164: <strong>${phoneNumber}</strong>`;
      registerButton.disabled = false
      telephoneRequired.innerHTML = ""
    } else {
      info.innerHTML = ""
      error.style.display = "";
      error.innerHTML = `Numero de telefono no valido.`;
      registerButton.disabled = true
      telephoneRequired.innerHTML = "El numero de telefono debe ser valido para registrarse"
    }

  })

</script>

</html>